# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore IDE configurations (for PyCharm)
.idea/

# Ignore the text file where invested amount is stored (since it's user-specific)
deposited_value.txt
